.link{
  color: aquamarine;
  font-size: 16px;
  text-align: center;

}

html{
  background-color: black;
  text-align: center;

}
body{
  color: white;
  font-family: Verdana;
}


.picture{
  object-fit: scale-down;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 42px;
}
.grey-text{
  color: grey;
}
footer{
  text-align: right;
}
